$primary-color: rgb(15,105,125);
$secondary-color: rgb(171,204,214);
$tertiary-color: rgb(238, 245, 247);
$headline-color: rgb(115,171,186);
$headline-emphasis: rgb(185,220,160);

$laptop: 1600px;
$smartphone: 1290px;